.gsapLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2147483647;
    background: linear-gradient(to bottom, #E7E8E6, #BEBEBE);
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Optional: for smoother transition */
}

.empty {
    opacity: 0;
}
