.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 70vw;
    align-self: flex-start;
    margin-top: calc(100vh * 0.132);/*110px;*/
    height: calc(100vh*0.59);
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    font-style: normal;
    font-size: calc(100vh * 0.048); /* 40px;*/
    line-height: 85%;
    letter-spacing: -0.05em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.bottomText {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin-top: 30px;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
    font-family: "Anonymous Pro", monospace;
}

.number {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: clamp(0px, calc(0.174 * 100vh), 200px); /*112px;*/
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: bottom;
    color: #DF2A35;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .content {
        padding-top: 0;
        margin-top: 100px;
        height: calc(100dvh - 210px);
        justify-content: space-between;
    }

    .title {
        font-size: 26px;
        margin-bottom: 0;
        line-height: 1.3;
    }

    .numbers {
        flex: 1;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 400px;
    }

    .item {
        height: 100%;
        border: 1px solid
    }

    .number {
        font-size: 80px;
        text-align: center;
    }

    .bottomText {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.italic {
    font-style: italic;
}

/* Small Mobile Styles */
@media (max-width: 480px) {
    .item {
    }

    .title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .number {
        font-size: 40px;
    }
    .bottomText {
        font-size: 15px;
    }

    .numbers {
        gap: 0px;
    }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .title {
        font-size: 18px;
    }

    .number {
        font-size: 100px;
    }
}
